<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/vue2-leaflet"></script>
    <style>
        .forms {
            height: 100%;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="forms">
            <div>
                <input type="number" v-model="latAdd">
                <input type="number" v-model="lonAdd">
                <select v-model="typeAdd">
                    <option value="A">A</option>
                    <option value="B">B</option>
                </select>
                <button @click="addLocation">Add location</button>
            </div>
            <div class="row">
                <div>
                    <input type="number" v-model="lat">
                    <input type="number" v-model="lon">
                    <button @click="setCenter">Set center</button>
                </div>
                <div>
                    <label for="range">Search radius (km)</label>
                    <input id="range" min="0.1" type="number" v-model="range">
                    <select v-model="type">
                        <option value="A">A</option>
                        <option value="B">B</option>
                    </select>
                    <button class="button-primary" @click="fetchGeoLocations">Fetch locations</button>
                </div>
            </div>
        </div>
        <l-map ref="myMap" :center="center" @update:center="centerUpdated" :zoom="zoom" style="height: 80vh;">
            <l-tile-layer :url="url"></l-tile-layer>
            <div v-for="marker in markers">
                <l-marker :lat-lng="marker.coord.coordinates">
                    <l-popup>
                        <pre>
                            {{marker}}
                        </pre>
                    </l-popup>
                </l-marker>
            </div>
            <l-marker :lat-lng="center">
                <l-popup>Current location</l-popup>
            </l-marker>
            <l-circle :lat-lng="center" :radius="range * 1000" color="lightblue" />
        </l-map>
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        components: {
            'l-map': window.Vue2Leaflet.LMap,
            'l-tile-layer': window.Vue2Leaflet.LTileLayer,
            'l-marker': window.Vue2Leaflet.LMarker,
            'l-popup': window.Vue2Leaflet.LPopup,
            'l-circle': window.Vue2Leaflet.LCircle,
        },
        data: {
            message: 'Test',
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            apiUrl: 'https://pudle-paperplane.herokuapp.com/api',
            center: [18.5368382, 73.8948146],
            zoom: 13,
            markers: [],
            lat: 18.5368382,
            lon: 73.8948146,
            latAdd: 18.5368382,
            lonAdd: 73.8948146,
            typeAdd: 'A',
            range: 10,
            type: 'A'
        },
        methods: {
            setCenter: function () {
                this.center = [this.lat, this.lon]
            },
            addLocation: function () {
                fetch(
                        `${this.apiUrl}/addLocation?lat=${this.latAdd}&lon=${this.lonAdd}&type=${this.typeAdd}`
                    )
                    .then(res => res.json())
                    .then(res => {})
            },
            centerUpdated: function (center) {
                this.lat = center.lat;
                this.lon = center.lng;
                this.latAdd = center.lat;
                this.lonAdd = center.lng;
                this.center = [center.lat, center.lng];
            },
            fetchGeoLocations: function () {
                fetch(
                        `${this.apiUrl}/fetchGeoLocations?lat=${this.lat}&lon=${this.lon}&range=${this.range}&type=${this.type}`
                    )
                    .then(res => res.json())
                    .then(res => {
                        this.markers = res.data;
                    })
            }
        },
    })
</script>

</html>